<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <div class="ui header item" style="padding: 0 1em">
      <i class="comments orange icon"></i>
      MessageMe
    </div>
    <%= link_to 'Home', root_path, class: 'item' %>
    <%= link_to 'Chatroom', chatroom_path, class: 'item' %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <% if logged_in? %>
        <div class="ui dropdown item">
          Hi,&nbsp;<strong><%= current_user.username %></strong>! <i class="dropdown icon"></i>

          <div class="menu">
            <%= link_to 'Profile', login_path, class: 'item' %>
            <%= link_to 'Logout', logout_path, method: :delete, class: 'item' %>
          </div>
        </div>
      <% else %>
        <div class="item">
          <%= link_to 'Login', login_path, class: 'ui inverted orange button' %>
        </div>
      <% end %>
      <div class="item">
        <div class="ui inverted green button">Sign Up</div>
      </div>
    </div>
  </div>
</div>