<!DOCTYPE html>
<html lang="en">
<head>
  <title>MessageMe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="ui container mt-3">
  <%= render 'layouts/navbar' %>
  <%= yield %>
</div>

</body>
</html>
